<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-kMKNIxfHGxs66g6wWD4d9fhBvaF27AK9iPqPHkLU4F8='">
    <link rel="icon" href="/static/img/rnr.jpeg" type="image/jpeg">
    <link rel="stylesheet" href="/static/styles.css">
    <title>InvisioVault</title>
</head>
<body>
    <header>
        <!-- Ensure the logo path is correct -->
        <img src="/static/img/rnr.jpeg" alt="Logo" style="width: 100px; height: auto;">
    </header>
    <div class="container">
        <h1>Hide Files in Image</h1>
        <div class="upload-section">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="image">Select Image:</label>
                <input type="file" name="image" accept="image/*" required>
                <label for="file">Select File to Hide:</label>
                <input type="file" name="file" accept=".txt,.pdf,.mp4,.jpg,.png" required>
                <div class="error-message" id="upload-error"></div>
                <button type="submit">Upload and Hide</button>
            </form>
        </div>

        <h2>Extract Hidden File from Image</h2>
        <form action="/extract" method="post" enctype="multipart/form-data">
            <label for="image">Select Image:</label>
            <input type="file" name="image" accept="image/*" required>
            <div class="error-message" id="extract-error"></div>
            <button type="submit">Extract Hidden File</button>
        </form>
    </div>

    <div class="description">
        <p>Rolan has created this tool to enable users to hide files within images, providing a simple and effective way to secure sensitive information. This innovative approach allows for the concealment of various file types, ensuring privacy and security.</p>
    </div>

    <!-- Ensure the script path is correct -->
    <script src="/static/script.js"></script>
</body>
</html>
